<!doctype html>
<html>
  <head>
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    <form method="post">
      {% csrf_token %}
      <label>Original URL:</label>
      <input
        type="url"
        name="original_url"
        placeholder="https://example.com"
        required
      />
      <br />
      <label>Alias:</label>
      <input
        type="text"
        name="alias"
        placeholder="example"
        maxlength="30"
        required
      />
      <br />
      <button type="submit">Shorten URL</button>
    </form>

    <!-- (BONUS) Create a new message below for EACH message using DTL -->
    <p><strong>{{ message }}</strong></p>

    <h2>All URLs generated</h2>
    <table>
      <tr>
        <th>Short URL</th>
        <th>Original URL</th>
        <th>Clicks</th>
        <th>Created</th>
      </tr>
      <!-- This is one table row element. Create a row below for EACH URLs using DTL -->
      <tr style="padding:5px">
        <td>URL alias</td> <!-- Inject the url alias here -->
        <td>
          <a href="{{ url.original_url }}" target="_blank"
            >Original URL</a 
          > <!-- Inject the original URL here -->
        </td>
        <td>0</td> <!-- Inject the click count here -->
        <td>2025/1/1</td> <!-- Inject the created date here -->
      </tr>
    </table>
  </body>
</html>
