<!-- 
TASKS:

1. Create a <tr> element below for EACH URL using DTL
2. Inject the URL alias (var name: alias)
3. Inject the original URL (var name: original_url)
4. Inject the click count (var name: click_count)
5. Inject the created date (var name: created_at)

(BONUS) 6. Create a new message for EACH message using DTL
-->

<!doctype html>
<html>
  <head>
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>URL Shortener</h1>

    <form method="post">
      {% csrf_token %}
      <label>Original URL:</label>
      <input
        type="url"
        name="original_url"
        placeholder="https://example.com"
        required
      />
      <br />
      <label>Alias:</label>
      <input
        type="text"
        name="alias"
        placeholder="example"
        maxlength="30"
        required
      />
      <br />
      <button type="submit">Shorten URL</button>
    </form>

    <!-- (BONUS) Create a new message below for EACH message using DTL -->
    <!-- <p><strong>{{ message }}</strong></p> -->

    <h2>All URLs generated</h2>
    <table>
      <tr>
        <th>Short URL</th>
        <th>Original URL</th>
        <th>Clicks</th>
        <th>Created</th>
      </tr>
      <!-- This is one table row element. Using DTL, create a <tr> element below for EACH URL -->
      <tr style="padding:5px">
        <td>{{ url.alias }}</td> <!-- Inject the url alias (var name: alias) here -->
        <td>
          <a href="{{ url.original_url }}" target="_blank"
            >Original URL (TO REPLACE)</a> <!-- Inject the original URL (var name: original_url) here -->
        </td>
        <td>0 (TO REPLACE)</td> <!-- Inject the click count (var name: click_count) here -->
        <td>2025/1/1 (TO REPLACE)</td> <!-- Inject the created date (var name: created_at) here -->
      </tr>
    </table>
  </body>
</html>
